@font-face {font-family:roboto;src: url('roboto.ttf') format('truetype');}
@font-face {font-family:schoolbell; src: url('schoolbell.ttf') format('truetype');}
html, body {font-family:roboto;}
@media only screen and (min-width: 0px) {html {font-size: 1.1em;} #circle{font-size: 2rem;}}
@media only screen and (min-width: 320px) {html {font-size: 1.4em;} #circle{font-size: 3rem;}}
@media only screen and (min-width: 540px) {html {font-size: 1.8em;} #circle{font-size: 4rem;}}
@media only screen and (min-width: 720px) {html {font-size: 2em;} #circle{font-size: 5.5rem;}}
* {
  box-sizing: border-box;
}
html {background: #eaeaea; color: #7B7B7B;overflow-x: hidden;padding:0;margin: 0}
html, body,ul {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
h1,h2,h3{margin: 0; padding: 0; overflow: hidden;}
h2, h3 {color:#222;}
a {
  text-decoration: none;
  color:#189CD5;
}
a:link; a:visited; a:active; {color:#189CD5; font-weight: bold;}
.main-header {
	background: #007FFF;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  height:44px;
  line-height: 44px;
  z-index: 9;
}
.main-header a {
  position: absolute;
  left: 8px;
  top: 0px;
  color: white;
  font-size: 26px;
}
.mainpage {
	float: right;
  width: 100%;
  transition: width 0.3s ease;
}
.nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #E7EBF2;
  overflow-y: auto;
  transition: width 0.3s ease;
  font-size: 16px; 
  z-index: 10;
}
.nav a {
  display: block;
  background: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid #808080;
  color: #808080;
  padding: 10px;
}
#navimage {height: 100px; width: 100%}
.nav a img {
  vertical-align: middle;
  padding-right: 8px;
  height:17px;
}
#active-nav {
  background: #189CD5;
  color:#fff;
  text-shadow:1px 1px 1px #000;
}
.nav a:hover, .nav a:focus{
  background: #E7EBF2;
}
.nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.content {
  padding: 53px 8px 8px 8px;
  max-width: 720px;
  margin:auto;
}
.close-menu {
  display: none;
}
#nav:target {
  width: 90%;
}

#nav:target + .mainpage {
  width: 100%;
  opacity: 0.5;
  background: #000;
}
#nav:target + .mainpage .open-menu {
  display: none;
}
#nav:target + .mainpage .close-menu {
  display: block;
}
#nav:target + .mainpage .main-header {
  width: 40%;
  left: 90%;
}
#infopad {
	font-size: 20px;
	line-height: 44px;
	font-family: schoolbell;
}
.tag1, .tag2, .tag3, #update {font-family:roboto; font-weight:normal; overflow: hidden; border-radius:3px;}
.tag1 {width:98%; margin:0 1%; color:#fff; text-align:center; height:80px; line-height: 80px;}
.tag2 {width:48%; margin:0 1%; color:#fff; text-align:center; height:60px; line-height: 60px; float:left; overflow:hidden;}
.tag3 {width:48%; margin:0 1%; color:#fff; text-align:center; height:122px; line-height: 122px; float:left; overflow:hidden;}
#clear {clear:both}
#spacer {height:8px; background:transparent; width:100%}
#spacer2 {height:10px; background:transparent; width:100%}
#credits {padding:8px; border-radius:3px; color:#000; background: #fff}
#update {
  margin: auto;
  max-width:80%;
  background: transparent;
  text-decoration:none; 
  text-align: center; 
  color: #fff; 
  border-radius:3px;
  border:3px solid #fff;
  line-height: 35px;
  font-weight: bold;
  height: 53px;
  line-height: 53px;
}
.map-container {width:96%; margin:auto;padding:3%;}
#sun-odd {width:100%;background-image:url(load.gif); background-position:center; background-repeat:no-repeat; min-height:80px;}
#x-even {width:100%;background-image:url(load.gif); background-position:center; background-repeat:no-repeat; min-height:80px;}
#chibi {display: block; width:100px; margin-left: auto;margin-right: auto;box-shadow: 1px 1px 1px 0px #808080; border-radius:3px;}
#freelicense{text-align:left; font-weight: bold; font-family: schoolbell;}
#parallax {color:#222;font-size: 30px;}
.card {word-wrap:break-word; background:#fff; border-radius: 5px; border:1px solid #949494; color:#000;}
.card-sub{text-align:center;color:#fff; padding:3%; border-radius:3px 3px 0 0;}
.card-sub h2 {color:#fff;}
.card-circle {}
#schedule { line-height: 44px; border-radius: 3px;margin:auto; color:#fff; width:96%;margin:0 2%; font-family: schoolbell}
#magis{text-align:center;font-weight:bold;font-size: 26px;font-family: schoolbell;color:#0A5BC4;}
.profile {margin-top: 10px; border-radius: 50%; border:1px solid #fff;background:#fff;}

#sched {margin: 0 auto;width: 94%; border:1px solid #eaeaea;}
#subjects-in {border-bottom:1px solid #eaeaea;line-height: 26px; padding: 8px 8px; font-size: 20px;}
#subjects-in p{font-weight: bold; color: #dc572e}
#subjects-in a{font-weight: bold;}
#infopad2{font-family: schoolbell;}